// extends
.body{
	min-height: 100vh;
	font-family: sans-serif;
	background-color: $body;
}
.block{
	width: 100%;
	height: 50px;
	position: absolute;
	padding: 10px 0 10px 0;
}
.header{
	background-color: $header;
}
.title{
	height: 100%;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
}
.section{
	margin: auto; 
	width: 960px;
	display: flex;
	min-height: 100vh;
	position: relative;
	align-items: center;
	justify-content: center;
}
.marginFilm{
	margin: 0 0 20px;
}
.dot{
	height:8px; 
	width: 8px;
	float: left;
	margin: 0 5px;
	text-indent: -9999px;
	@include border-radius(50%);
	box-shadow: 0 1px 2px rgba(0,0,0,0.55) inset;
}
button{
	border: none;
	outline: none;
	color: $white;
	cursor: pointer;
	background-color: rgba(255, 240, 245, 0);
} 
.margeTop{
	top: 250px;
	position: absolute;
}
.position {
	float: left;
	position: relative;
}
.relative{
	position: relative;
}
.absolute{
	position: absolute;
}
.slider-film, figure, .info-film, .current,.dots{
	float: left;
}