// imports 
@import "import/mixins.scss";
@import "import/variables.scss";
@import "import/reset.scss";
@import "import/extends.scss";

body{
	@extend .body;
}
header{
	@extend .block, .header;

	h1{@extend .title;}
}

section {

	@extend .section;

	#row{
		overflow: hidden;
		@extend .relative;
		padding: 0 0 0 12px;
		background-color: $row
	}
	#slide{
		width: 50000px;
		@extend .relative;
	}
	.slider-film{
		width: 960px;
		@extend .position;
	}
	img{
		width: 100%;
	}
	figure{
		width: 306px;
		@extend .position;
		padding: 10px 10px 10px 0px;
	}
	figcaption{
		bottom: 0;
		color: $white;
		@extend .absolute;
	}
	.info-film{
		width: 306px;
		color: $white;
		@extend .position;
		margin-right: 316px;
		padding: 10px 10px 10px 0px;
	}
	h3 , .info-film p {
		@extend .marginFilm;
	}
	h3{ 
		text-transform: uppercase;
	}
	#note img{
		width: 100px;
		float: left;
	}
	nav{
		width: 400px;
		margin: auto;
		margin-top: 30%;
		@extend .absolute;
	}
	.current{ 
		@extend .dot;
		background: $current;
	}
	.dots{
		background: $dots;
		@extend .dot;
	}
	#prev{
		left: 0;
		@extend .margeTop;
	}
	#next{
		right: 0;
		@extend .margeTop;
	}
	button{
		@extend button;
	} 

}

footer{
	bottom: 0;
	@extend .block;
	background-color: $footer;
	h2{@extend .title;}
}