html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none; }

.body, body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #3c3838; }

.block, header, footer {
  width: 100%;
  height: 50px;
  position: absolute;
  padding: 10px 0 10px 0; }

.header, header {
  background-color: #232129; }

.title, header h1, footer h2 {
  height: 100%;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase; }

.section, section {
  margin: auto;
  width: 960px;
  display: flex;
  min-height: 100vh;
  position: relative;
  align-items: center;
  justify-content: center; }

.marginFilm, section h3, section .info-film p {
  margin: 0 0 20px; }

.dot, section .current, section .dots {
  height: 8px;
  width: 8px;
  float: left;
  margin: 0 5px;
  text-indent: -9999px;
  border-radius: 50%;
  -o-border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.55) inset; }

button, section button {
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  background-color: rgba(255, 240, 245, 0); }

.margeTop, section #prev, section #next {
  top: 250px;
  position: absolute; }

.position, section .slider-film, section figure, section .info-film {
  float: left;
  position: relative; }

.relative, section #row, section #slide {
  position: relative; }

.absolute, section figcaption, section nav {
  position: absolute; }

.slider-film, figure, .info-film, .current, .dots {
  float: left; }

section #row {
  overflow: hidden;
  padding: 0 0 0 12px;
  background-color: black; }
section #slide {
  width: 50000px; }
section .slider-film {
  width: 960px; }
section img {
  width: 100%; }
section figure {
  width: 306px;
  padding: 10px 10px 10px 0px; }
section figcaption {
  bottom: 0;
  color: white; }
section .info-film {
  width: 306px;
  color: white;
  margin-right: 316px;
  padding: 10px 10px 10px 0px; }
section h3 {
  text-transform: uppercase; }
section #note img {
  width: 100px;
  float: left; }
section nav {
  width: 400px;
  margin: auto;
  margin-top: 30%; }
section .current {
  background: orange; }
section .dots {
  background: #fff; }
section #prev {
  left: 0; }
section #next {
  right: 0; }

footer {
  bottom: 0;
  background-color: #101010; }

/*# sourceMappingURL=style.css.map */
